.tab-pane>*.tab-header-area>*.tab-header-background 
{
   -fx-background-color: -fx-outer-border, -fx-text-box-border, linear-gradient(to right, #5e9ccc, #4877bd);
-fx-background-insets: 0;
}

.tab-pane .tab {
-fx-padding: 2 20 2 32;
-fx-pref-width: 150px;
-fx-alignment: CENTER;
-fx-background-radius: 5px 5px 5px 5px;
}

.tab-pane .tab:selected {
    -fx-background-color:  linear-gradient(to top, #91a6bb, #adbccb);
}

.tab-header-area {
-fx-padding: 0px;
}